body{
    margin: 0;
    padding-top: 50px;
    display: flex;
}
.container{
        position: fixed; /* Set position to fixed */
        top: 0; /* Position it at the top of the viewport */
        left: 0; /* Align to the left */
        width: 99%; /* Full width */
        height: 40px; /* Set height for the fixed container */
        background-color: rgba(255, 255, 255, 0.9); /* Background color with some transparency */
        border-bottom: 1px solid #ccc; /* Optional border */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
        z-index: 1000; /* Ensure it's above other content */
        margin: 5px;
        border: 3px solid #0077cc;
        border-radius: 8px;
        color: #002147;
        display: flex;
}

h1{
    /*border: 1px solid red;*/
    margin: 0px;
    margin-left: 15px;
    width: max-content;
}

main{
    border: 3px solid #0077cc;
    margin: 5px;
    width: 99%;
    height: 540px;
    /*padding: 10px;*/
    align-items: center;
    border-radius: 8px;
    overflow: scroll;
    position: fixed;
    scrollbar-width: none;
}

.addbutton{
    /*border: 2px solid red;*/
    width: 120px;
    font-size: x-large;
    padding: 0px;
    border: none;
    background: none;
    /*margin-right: 0px;*/
    color: #002147;
    position: relative;
    display: flex;
}

.container1{
    /*border: 1px solid red;*/
    width: 99%;
    margin: 5px;
    height: -webkit-fill-available;
}

#homebutton{
    /*border: 1px solid red;*/
    font-size: xx-large;
    padding: 0px;
    border: none;
    background: none;
    margin-right: 0px;
    color: #002147;
    position: relative;
}
#profilebutton{
    /*border: 1px solid red;*/
    font-size: xx-large;
    padding: 0px;
    border: none;
    background: none;
    margin-right: 0px;
    color: #002147;
    position: relative;
}

.maintext{
    /*border: 1px solid red;*/
    width: -webkit-fill-available;
}

.homebutton{
    margin: 2px 15px;
    /*border: 1px solid red;*/
    position: relative;
    margin-right: 7px;
}

.profilebutton{
    /*margin: 2px 15px;*/
    /*border: 1px solid red;*/
    position: relative;
    margin-left: 7px;
    margin: auto;
}

.container .profilebutton{
    justify-content: end;
}

/* Buttons */
.logout-button {
    padding: 5px 10px;
    color: #002147;
    /*background-color: red;*/
    border: none;
    cursor: pointer;
    font-size: larger;
    margin: auto;
    background: none;
    margin-right: 0px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    /*text-align: center;*/
}
/* Modal Content */
.modal-content1 {
    background-color: #d3d3d3;
    margin: 1% auto;
    padding: 10px;
    border: 2px solid #0077cc;
    width: 50%;
    height: 90%;

}

/* Close Button */
.close {
    color: #002147;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #002147;
    text-decoration: none;
    cursor: pointer;
}

.confirm-button {
    padding: 10px 20px;
    width: 100px;
    color: #002147;
    background-color: #fefefe;
    border: 2px solid #0077cc;
    cursor: pointer;
    margin: auto;
    margin-left: 40%;
}

.cancel-button {
    width: 100px;
    padding: 10px 20px;
    color: #002147;
    background-color: #fefefe;
    border: 2px solid #0077cc;
    cursor: pointer;
    margin: auto;
    margin-left: 30%;
}

.open-modal1{
    font-size: larger;
    background: none;
    border: none;
}

.submit-button {
    padding: 5px 10px;
    width: 150px;
    font-size: large;
    margin: 3px;
    margin-top: 10px;
    color: #002147;
    background-color: #d3d3d3;
    border: 2px solid #0077cc;
    cursor: pointer;
    margin: auto;
}


.photoandiddepatmentsemestre{
    /*border: 1px solid red;*/
    display: flex;

}
.iddepartmentsemestre{
    /*border: 1px solid red;*/
    width: 55%;
}
.profilephotocontainer{
    /*border: 1px solid red;*/
    width: 45%;
    
}

.studentprofilephotoimg{
    /*border: 1px solid red;*/
    margin: 0px;
    display: flex;
}

img#modalProfilePhoto{
    margin:auto;
}
.StudentProfileFormlable{
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    pointer-events: none;
    text-align: start;
    margin-left: 10px;
    
}

.StudentProfileForminput{
    border: 2px solid #0077cc;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 8px;
    width: -webkit-fill-available;
    height: 25px;
    border-radius: 8px;
    transition: border-color 0.3s;
    background-color: #d3d3d3;
    padding-left: 5px;
}

.logoutmodalbutton{
    /*border: 1px solid red;*/
    display: flex;
}